#----------------------------------- Based on: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Documentation
site/

# Development
.vscode
.venv

# Other -- look into these
.pytype 
.pytest_cache
.mypy_cache

poetry.lock
pyproject.toml 
/styles

getting-started/rfp_env/

dist 
rfp_env/
